html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    background-color: orange;
    font-size: 30px;
}


.section1 {
    height: 100px;
    background-color: orangered;
    gap: 10px;
}

.section2 {
    height: calc(100vh - 200px);
    background-color: brown;
    padding-top: '20px';
    text-align:'center';
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    display: flex;
}

footer {
    height: 25px;
    background-color: limegreen
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}